@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenido!</h1>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Ejercicio9_1" asp-action="GenerarExcel">Generar y descargar Reporte</a>
    </div>